@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-purple: #140C9F;
    --main-purple-light: #2A1A92;
    --main-purple-dark: #0F0A70;
    --main-purple-darker: #0A0845;
    --main-white: #FAF8F8;
    --main-white-light: #F2F2F2;
    --main-orange: #EE771E;
    --main-orange-light: #F2A03D;
    --main-red: #BF232C
}

h1,
h2,
h3,
h4 {
    color: var(--main-purple);
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
    background: transparent;
}

.button-purple {
    background-color: var(--main-purple);
    color: var(--main-white);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    border: 1px solid var(--main-white);
}

.button-purple:hover {
    background-color: var(--main-white);
    color: var(--main-purple);
    border: 1px solid var(--main-purple);
}

.button-white {
    background-color: var(--main-white);
    color: var(--main-purple);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--main-purple);
}

.button-white:hover {
    background-color: var(--main-purple);
    color: var(--main-white);
    border: 1px solid var(--main-white);
}

.button-red {
    background-color: var(--main-red);
    color: var(--main-white);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
}

.button-red:hover {
    background-color: var(--main-white);
    color: var(--main-red);
}

.small {
    font-size: 0.8rem;
    padding: 10px;
}